<appSettings>
  <add key="PathToLocalWorkingFolder" value="C:\_Application\StatefulT4Processor\localWorkingFolder\"/>
  <add key="PathToT4HostConsoleApplication" value="C:\_Application\StatefulT4Processor\src\T4HostConsoleApplication\bin\Debug\T4HostConsoleApplication.exe" />
  <add key="PathToT4HostConsoleApplicationStateFile" value="C:\_Application\StatefulT4Processor\src\T4HostConsoleApplication\bin\Debug\state.xml" />
</appSettings>